<%= render 'layouts/modes' %>

<div class="panel panel-info">
	<div class="panel-heading">
		<div class="row">
			<div class="col-md-11">
				<h3 class="panel-title submission-name-show">
					<% if @submission.name.blank? %>
						Unnamed Tupix
					<% else %>
						<%= @submission.name %>
					<% end %>
				</h3>
			</div>
			<div class="col-md-1">
				<%= link_to "Delete", destroy_submission_path(@submission.slug), class: 'btn btn-danger', method: :delete %>
			</div>
		</div>
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-md-12 image-col">
				<a href="<%= @composite.file.url %>">
					<%= image_tag @composite.file.url(:medium), class: "submission-image" %>
				</a>
			</div>
		</div>
	</div>
</div>