<div class="list-group">
<% @submissions.each do |submission| %>
	<div class="list-group-item submission-index-item">
		<div class="row">
			<div class="col-md-4 valign">
				<% if submission.name.blank? %>
					<%= link_to "Unnamed Tupix", show_submission_path(submission.slug) %>
				<% else %>
					<%= link_to submission.name, show_submission_path(submission.slug) %>
				<% end %>
			</div>
			<div class="col-md-4 valign">
				<%= image_tag submission.pictures.to_a.at(0).file.url(:thumb) -%>
				<%= image_tag submission.pictures.to_a.at(1).file.url(:thumb) %>
			</div>
			<div class="col-md-2 valign">
				<p><%= submission.created_at.strftime("%m.%d.%y") %></p>
			</div>
			<div class="col-md-2 centertext valign">
				<%= link_to destroy_submission_path(submission.slug), method: :delete, data: { confirm: "Are you sure?" } do %>
					<i class="glyphicon glyphicon-trash"></i>
				<% end %>
			</div>
		</div>
	</div>
<% end %>
</div>