<%= form_for @submission do |f| %>
	<div class="row centertext">
	  <%= f.fields_for :images do |image| %>
		  <div class="col-md-6">
		    <%= image.label "Image" %>
		    <%= image.file_field :file %>
		  </div>
	  <% end %>
	</div>
	<div class="row centertext">
		<div class="col-md-12">
			<%= f.submit "Upload Images" %>
		</div>
	</div>
	<% end %>

