<%= render 'layouts/modes' %>

<div class="panel panel-info">
	<div class="panel-heading">
		<div class="row">
			<div class="col-md-11">
				<h3 class="panel-title submission-name-show">
					<% if @submission.name.blank? %>
						Unnamed Tupix
					<% else %>
						<%= @submission.name %>
					<% end %>
				</h3>
			</div>
			<div class="col-md-1">
				<%= link_to "Delete", destroy_submission_path(@submission.slug), class: 'btn btn-danger', method: :delete %>
			</div>
		</div>
	</div>
	<div class="panel-body">
		<div class="row">
		<% @pictures.each do |picture| %>
			<div class="col-md-6 image-col">
				<a href="<%= picture.file.url %>" data-lightbox="submission", data-title="<%= picture.label %>">
					<%= image_tag picture.file.url(:medium), class: "submission-image" %>
				</a>
				<div class="row image-label-show centertext">
					<div class="col-md-12">
						<%= picture.label %>
					</div>
				</div>
			</div>
		<% end %>
		</div>
	</div>
</div>
