<%= form_for @new_submission, html: { multipart: true } do |f| %>
	<div class="row">
		<div class="col-md-12 submission-name">
		  <%= f.label :name, "Submission name" %><br />
		  <%= f.text_field :name %>
	    </div>
	</div>
	<div class="row centertext">
	  <%= f.fields_for :pictures, @new_submission.pictures do |picture| %>
		  <div class="col-md-6">
		  	<div class="row">
			    <%= picture.label "Add Image", for: "image#{picture.index + 1}", id: "imageLoader#{picture.index + 1}", class: "btn btn-primary btn-image-select" %>
			    <%= picture.file_field :file, class: "hidden-field", id: "image#{picture.index + 1}", required: true %>
			    <canvas class="preview-canvas" id="imageCanvas<%= picture.index + 1 %>" height="100" width="154">
			    	<div class="preview-text">Preview</div>
			    </canvas>
		    </div>
		    <div class="row">
			    <%= picture.text_field :label, placeholder: "Image title" %>
		    </div>
		  </div>
	  <% end %>
	</div>
	<div class="row centertext">
		<div class="col-md-12">
			<%= f.submit "Upload Images", class: "hidden-field", id: "tupix-submit" %>
		</div>
	</div>
<% end %>