<!DOCTYPE html>
<html>

  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%#= favicon_link_tag %>
    <%= render 'layouts/shim' %>
  </head>

  <body>

  	<%= render 'layouts/header' %>
  	
    <div class="container">
    	<div class="row">
  	    <div class="col-md-6 col-md-offset-3">
  	      <% flash.each do |key, value| %>
  	        <div class="alert-box">
  	          <div class="centertext flash-alert <%= flash_class(key) %>"> 
  	            <%= value %>
  	          </div>
  	        </div>
  	      <% end %>
  	    </div>
      </div>
    </div>

    <div class="container">
  	<%= yield %>
  	</div>

  	<%= render 'layouts/footer' %>

  	<%= debug(params) if Rails.env.development? %>

    <div class="modal fade" id="upload-form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">Upload your Tupix</h4>
          </div>
          <div class="modal-body">
            
          <%= render 'layouts/new_submission_form' %>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary" id="modal-submit">Submit</button>
          </div>
        </div>
      </div>
    </div>

  </body>
  
</html>
